<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>server</title>
    </head>
    <body>
        <div>cpuUsage <%= cpuUsage %> </div>
        <div>Total memory <%= totalDiskSpace %></div>
        <div>Used memory <%= usedDiskSpace %></div>
        <div>memory Usage <%= memoryUsage %></div>
    </body>
</html>
